// font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// variabel
$primary-color: #5526ff ;
$secondary-color: #4B50AB;

// style
body {
    font-family: 'Poppins', sans-serif;
}

.py-10 {
    padding-top: 100px;
    padding-bottom: 100px;
}

// scroll
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #777; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// navbar
.navbar-custom {
    background-color: #fff !important;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .1);
    
    .navbar-brand {
        color: $primary-color;
    } 

    .navbar-brand:hover, .navbar-brand:focus {
        color: $primary-color;
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .nav-link {
        color: #333 !important;
        transition: .3s;
    }

    .nav-link:hover, nav-link:focus {
        color: $primary-color !important;
        font-weight: bold;
    }
}

// card
@mixin card($hover) {
    .card {
        box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, .15);
        padding: 30px;
        border: none;
        border-radius: 10px;
        transition: .3s;
        @if $hover == 2 {
            border-width: 3px;
            border-style: solid;
            border-color: #fff;
        }       
    }
    
    @if $hover == 1 {
        .card:hover {
            color: white;
            background: $primary-color;
        }
    } @else {
        .card:hover {
            transform: translateY(-20px);
            box-shadow: 0px 8px 30px 0px rgba(42, 67, 113, .1);
            border-color: $primary-color;
        }
    }
}


//hero 
.hero {
    background-color: $primary-color;
    background: linear-gradient(45deg, #5526ff 0%, #4B50AB 100%);
    color: white;

    h1 {
        font-size: 50px;
    }

    a {
        color: $primary-color !important;
    }
}

// fitur  
.fitur {
    background-color: #FAFAFF;
    @include card(1);

    .icon {
        svg {
            border-radius: 10%;
            width: 70px;
            padding: 10px;
            color: #fff;
            background-color: $primary-color;
            box-shadow: 8px 8px 30px 0px rgba(85,38,255, .3);
        }
    } 
}

// harga
.harga {
    @include card(2);
    
    .harga-list {
        color: #fff;
        padding: 10px 30px;
        background-color: $primary-color;
        font-size: 20px;
        font-weight: bold;
        border-radius: 50px;
        box-shadow: 8px 8px 30px 0px rgba(85,38,255, .3);
    }

    .list-group-item {
        border: none;
        background: transparent;
    }
}


// kontak
.kontak {
    color: #fff;
    background-color: $primary-color;
    padding-bottom: 100px;

    .icon {
        svg {
            width: 70px;
            padding: 10px;
            color: #fff;
        }
    } 

    .link-light {
        text-decoration: none;
    }
}

// media
@media only screen and (max-width: 1200px) { 

    .tentang {
        p {
            text-align: center;
        }
    }

    .kontak-list {
        padding-top: 100px;
    }

}